<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="selectize.js/dist/js/standalone/selectize.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="jquery-treetable/jquery.treetable.js"></script>

    <script src="codetree.js"></script>
    <script src="pako.js"></script>
    <script src="d3.js"></script>
    <script src="generic.js"></script>
    <script src="reposhow.js"></script>
    <script src="repotoshow.js"></script>
    <link rel="stylesheet" type="text/css" href="jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="jquery-ui-1.12.1.custom/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="crepo.css">
    <link rel="stylesheet" type="text/css" href="jquery-treetable/css/jquery.treetable.css">
    <link rel="stylesheet" type="text/css" href="jquery-treetable/css/jquery.treetable.theme.default.css">
    <link rel="stylesheet" type="text/css" href="jquery-treetable/css/screen.css">
    <link rel="stylesheet" type="text/css" href="selectize.js/dist/css/selectize.css">
    <style></style>
  </head>
  <body>


    <div class="page row">
    </div>
    <script src="tree.js"></script>
    <script>
      var prefs={};
    </script>

  </body>


    <template id="dialog" title="Select revision">
      <select id="select-repo" class="repositories selectized" placeholder="Select branch..." tabindex="-1" style="display: none;">
	<option value="undef" selected="selected">...</option>
      </select>
      <select id="select-log" class="repositories selectized" placeholder="Select sha..." tabindex="-1" style="display: none;">
	<option value="undef" selected="selected">...</option>
      </select>
      <table id="select-tree">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Date modified</th>
	    <th>Size</th>
	  </tr>
	</thead>
	<tbody>
	  <tr data-tt-id="0" data-tt-parent-id="-1" data-tt-branch="true">
	    <td>
	      <span class="directory">/tmp</span>
	    </td>
	    <td></td>
	    <td>100</td>
	  </tr>
	</tbody>
      </table>
    </template>

    <script>
      //setupfilebrowser("tree");
      var r0 = refselectdialog();
      var r1 = refselectdialog();
      //setuprefselect("select-repo");
      //$( "#dialog" ).dialog();
      //init_repo_tree('#browser',repodef);
    </script>


</html>
